.navbar_container{
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: space-between;
    font-family: 'Roboto', 'Arial', sans-serif;
    color:  rgba(0, 0, 0, .87);
    padding: 1rem;
}
.right_options{
    display: flex ; gap : 2rem  ;
    padding: 0.5rem ; 
    font-family: Arial, sans-serif;
    font-size: 14px;

}


.about_navbar:hover{
    text-decoration: underline;
    cursor: pointer;
}
.store_navbar:hover{
    text-decoration: underline;
    cursor: pointer;
}
.email_page:hover{
    text-decoration: underline;
}
.image_page:hover{
    text-decoration: underline;
}
body{
    margin: 0;
}
.left_options{
display: flex;
gap : 1rem ;

}
.text_options{
   display: flex;
    font-size: 14px;
    gap : 1rem ;
    justify-content: center;
    align-items: center;
}
.img_section_navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem ;
    }

.accont_name{
    height : 32px ;
 width : 32px ;
    border-radius: 50%;
}