.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #1f1f1f;
    background-color: #edecec;
}
.footer_section_right ,.footer_section_left{
    display: flex;
    font-size: 14px;
    gap : 0.5rem ;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.footer-section_top{
    border-bottom: 1px solid #dadce0;
    background-color: #edecec;
    font-size: 15px;
    color: #1f1f1f;
    font-family: Arial, sans-serif; padding-left: 2rem;
    padding-right: 1.5rem;

}
.footer-link{
    padding: 1rem ;
  
}

@media (max-width: 767px) { 
    .footer-section_top {
        font-size: 12px; /* Smaller font size */
        padding: 0.2rem; /* Compact padding */
      }
  
      .footer_section{
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-size: 8px;
          font-family: Arial, sans-serif;
          color: #1f1f1f;
          background-color: #edecec;
      }
  
      .footer-link{
          padding: 0.4rem;
          font-size: 10px;
      }
      .footer-section {
        font-size: 8px;
  
        .footer_section_left,
        .footer_section_right {
         // flex-direction: column; /* Stack links vertically */
          gap: 0.1rem;
          padding: 0.2rem;
        }
      }

}

@media (max-width: 480px) {
    .footer-section_top {
      font-size: 12px; /* Smaller font size */
      padding: 0.2rem; /* Compact padding */
    }

    .footer_section{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 8px;
        font-family: Arial, sans-serif;
        color: #1f1f1f;
        background-color: #edecec;
    }

    .footer-link{
        padding: 0.4rem;
        font-size: 10px;
    }
    .footer-section {
      font-size: 8px;

      .footer_section_left,
      .footer_section_right {
       // flex-direction: column; /* Stack links vertically */
        gap: 0.1rem;
        padding: 0.2rem;
      }
    }
  }



  
