
.image_recognisation_container{
    display: flex;
    flex-direction: row;
   width: 100%;
  //  height: 100;
    font-family: "Inter" , sans-serif ;
 
}
.headline_img{
    color: aliceblue;
    padding-bottom: 2rem;
    font-size: 2rem;
}
.icon_logo_google{
    position: absolute;
    top : 4% ;
    left : 2% ;
    width: 80px ;
    cursor: pointer;
    height: 25px ;
}
.navbar_img{
   

}.button_cropandsearch{
    color: white;
    display: flex;
    gap:1rem ;
    margin-top: 1rem;
    align-items: right ;
    justify-content: right ;
}
.crop_button ,.search_button{
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.navbar_img_recog{
   


    display: flex;
    flex-direction: column;
    width: 100%;
    
}

body{
    margin: 0;
}
.Image_uploadedtocrop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
padding: 3rem;
   
   width: 40% ;
background: #000;
height: 100%;

}

.response_from_recog{
    width: 45%;
}
.img_loaded{
    max-width: 300px;
    height: 300px;
}
.response_from_recog{
    padding-left: 2rem;
}
.image_buttons{
}

.search-results-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
    gap: 16px; /* Adjust the gap between grid items */
   // padding: 20px; /* Optional, for some padding around the grid */
    padding-top: 0px;
  }
  
  .search-results-grid a {
    display: block;
    text-align: center; /* Center align the content inside the anchor */
  }
  
  .search-results-grid img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
  }
  

  @media (max-width: 1023px) {
    
  }

  /* Mobile Devices */
  @media (max-width: 767px) {
    .image_recognisation_container{
        flex-direction: column;
    }
    .response_from_recog{
        padding-left: 0rem;
        padding-top: 1rem;
    }

    .Image_uploadedtocrop{
    display: flex;
    width: 100% ;
    padding: 0rem;
    background: #000;
    height: 100%;
    }
    .button_cropandsearch{
        color: white;
        display: flex;
        gap:1rem ;
        margin-top: 1rem;
        margin-bottom: 1rem;
       
  }
  }

  /* Extra Small Mobile Screens */
  @media (max-width: 480px) {
    .image_recognisation_container{
        flex-direction: column;
        
    }
    .response_from_recog{
        padding-left: 0rem;
        padding-top: 1rem;
    }
    .Image_uploadedtocrop{
   padding: 0rem;
        width: 100% ;
    background: #000;
    height: 100%;
    }
    .button_cropandsearch{
        color: white;
        display: flex;
        gap:1rem ;
        margin-top: 1rem;
        margin-bottom: 1rem;
       
  }
  }